*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.contenedor-botones{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(212, 212, 212);
}

/* TODO: Primer boton */
/* Contenedor */
.primer-boton{
    width: 800px;
    background-color: #fff;
    border-radius: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
}
/* Boton */
.btn1{
    position: relative;
    display: inline-flex;
    padding: 10px 20px;
    background-color: #363636;
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    overflow: hidden;
}
.btn1 span{
    position: relative;
    z-index: 1;
}
.btn1::before{
    content: '';
    position: absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(-50%, -50%);
    width: 0px;
    height: 0px;
    background-color: #2196f3;
    border-radius: 50%;
    transition: width 0.7s, height 0.7s;
}
.btn1:hover::before{
    width: 300px;
    height: 300px;
}

/* TODO: Segundo boton */
/* Contenedor */
.segundo-boton{
    width: 800px;
    background-color: rgb(27, 24, 24);
    border-radius: 50px;
    padding: 40px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.segundo-boton a{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #2196f3;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
}
.segundo-boton a:hover{
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 1s;
}
.segundo-boton a span{
    position: absolute;
    display: block;
}
.segundo-boton a span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #2196f3);
}
.segundo-boton a:hover span:nth-child(1){
    left: 100%;
    transition: 1s;
}
.segundo-boton a span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #2196f3);
}
.segundo-boton a:hover span:nth-child(3){
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
.segundo-boton a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #2196f3);
}
.segundo-boton a:hover span:nth-child(2){
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
.segundo-boton a span:nth-child(4){
    bottom: -100%;
    left : 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #2196f3);
}
.segundo-boton a:hover span:nth-child(4 ){
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
} 